@import	'nib/vendor'
@import	'nib/gradients'

vendor-prefixes = 0 ms moz webkit papitas official

body
	background: green

.padre
	background linear-gradient(top,white,black);
	padding 100px
	.hijo
		font-size 30px