.slider-principal {
	img {
		width: 100%;
	}
	h6 {
		background-color: rgba(0,0,0,.8);
		color: white;
		// color: rgba(255,255,255,.9);
		font-family: $lato-font;
		margin: 0;
		padding: 10px;
		text-align: center;
	}
}